@import url('./Style.css');

:root {
  --input-border-color: #5C5C5C;
}

body {
  font-family: 'Rubik';
}

.row {
  display: flex;
}

.col {
  padding: 30px;
}

.col-half {
  flex: calc(50% - 1px);
}

.col-fs {
  height: 100vh;
}