@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf') format('woff');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Italic.ttf') format('woff');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Bold.ttf') format('woff');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Medium.ttf') format('woff');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Light.ttf') format('woff');
}